DemoServer {
	gov.va.med.vistalink.security.VistaLoginModule requisite
		gov.va.med.vistalink.security.ServerAddressKey="isc1a4.fo-albany.med.va.gov"
		gov.va.med.vistalink.security.ServerPortKey="8000"; 
};
LocalServer {
	gov.va.med.vistalink.security.VistaLoginModule requisite
		gov.va.med.vistalink.security.ServerAddressKey="127.0.0.1"
		gov.va.med.vistalink.security.ServerPortKey="9205"; 
};
